{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}



<div class="courses-area pt-50 pb-70">
    <div class="container">
        <div class="section-title text-center mb-45">
            <span>Services</span>
            <h2>Best Services we provide</h2>
        </div>
    <div class="row">
        {% for service in service %}
    <div class="col-lg-3 col-md-6">
    <div class="courses-item">
        <div class="blog-card">
            <a href="{% url 'web:service-detail' service.id %}">
            <img src="{{ service.service_image.url }}" alt="Blog">
            </a>
            <div class="content service-box">
            
            <h3><a href="{% url 'web:service-detail' service.id %}">{{ service.service_title }}</a></h3>
            <p>{{ service.service_description|safe|truncatechars:100  }}</p>
            <a href="{% url 'web:service-detail' service.id %}" class="read-btn">Read More</a>
            </div>
            </div>
    </div>
    </div>
{% endfor %}
    </div>
    </div>
    </div>

    {% endblock %}